<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpcreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Componenet</button>
    <app-server-element *ngFor="let severElement of serverElements"
                        [SrvElement]="severElement"
                        [name]="severElement.name">
      <p>
        <strong *ngIf="severElement.type === 'server'" style="color: red">{{ severElement.content }}</strong>
        <em *ngIf="severElement.type === 'blueprint'">{{ severElement.content }}</em>
      </p>


    </app-server-element>
    </div>
  </div>
</div>
